<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather in the World</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <!-- LEFT COLUMN-->
     <div class="leftSide">&nbsp</div>

    <!-- CENTER COLUMN-->
    <div class="data centerSide">
        <h1>Welcome to City Weather App!</h1>
        <h3>Please type your city:</h3>
        {{{ body }}}
    </div>

    <!-- RIGHT COLUMN-->
     <div class="rightSide">&nbsp</div>
</body>
</html>